# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db

# User-specific / IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android / iOS build artifacts (if generated)
android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/Podfile.lock

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.local.py
.env
